h1 {
  display: inline-block;
  font-size: 9rem;
  font-family: "Quicksand", sans-serif;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  background: linear-gradient(to right top, #77e0ff, #71b9ff, #6d9bff, #6b8fff);
  background-position: center;
  background-size: cover;
}

a {
  color: #0b5ed7;
  text-decoration: none;
}

.cloudy {
  position: fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  top: -10px;
}

.container {
  margin: 250px auto;
  margin-bottom: 300px;
  z-index: 2;
}

.wrapper {
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(2rem);
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  margin: 0 auto;
  padding: 25px;
  z-index: inherit;
}

.dashboard {
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.future-forecast {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.card {
  background: none;
}

.temp-units {
  font-size: 14px;
  position: relative;
  top: -50px;
}

.active-link {
  color: black;
  cursor: default;
}

.forecast-description {
  text-transform: capitalize;
}

.forecast-min {
  opacity: 0.5;
}

.country {
  font-size: 16px;
  opacity: 0.5;
}

.signature:hover {
  color: #ffffff;
}

.weather {
  display: flex;
  justify-content: center;
}

.temperature-icon {
  padding-top: 25px;
}

.temperature {
  padding: 25px 0 0 25px;
}
